<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xpath2 -->
      <package
            uri="http://www.emftext.org/language/xpath2"
            class="org.emftext.language.xpath2.XPath2Package"
            genModel="metamodel/xpath2.genmodel"/>
   </extension>

</plugin>
